/* Main */
main{
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    min-height: 80vh;
    width: 100%;
}

/* Cabeçalho em main */
main div.top{
    font-size: 1.2rem;
    color: var(--corBranca);
}