/* Visible input */
div.listContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

div.listContainer input{
    border: none;
    flex: 1;
    background-color: var(--corBranca);
    box-shadow: var(--shadow);
    border-top-left-radius: calc(var(--borderRadius) - 5px);
    border-bottom-left-radius: calc(var(--borderRadius) - 5px);
    padding: calc(var(--padding) - 7px);
    text-align: center;
    margin-top: calc(var(--margin) - 5px);
}

div.add{
    display: flex;
    width: 100%;
}

div.add > svg{
    background-color: var(--corPrincipal);
    margin-top: calc(var(--margin) - 5px);
    border-top-right-radius: calc(var(--borderRadius) - 5px);
    border-bottom-right-radius: calc(var(--borderRadius) - 5px);
}