/* Modal */
div.modalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.438);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

div.modal{
    display: flex;
    flex-direction: column;
    background-color: var(--corBranca);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    box-shadow: var(--shadow);
    /* gap: calc(var(--gaps) + 120px); */
    min-height: 60vh;
    min-width: 25vw;
}

div.modal div.itensTop{
    display: flex;
    justify-content: space-between;
    color: var(--corPrincipal);
    margin-bottom: var(--margin);
}

div.modal div.listaAdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    gap: calc(var(--gaps) + 10px);
}

div.modal div.addList{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Inputs in the modal */

div.modal div.listaAdd input{
    border: none;
    min-width: 20vw;
    min-height: 7.5vh;
    background-color: var(--corSecundaria);
    padding: var(--padding);
    font-size: 1rem;
    ;
}

/* Button add new list */
div.modal button.plusButton{
    background-color: var(--corPrincipal);
    padding: calc(var(--padding) - 4.5px);
}

/* Values of list*/
li.listaValores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li.listaValores span{
    width: 80%;
    max-width: 80%;
}