/* Cabeçalho */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--padding) + 5px);
    background-color: var(--corHeader);
}

header h1{
    color: var(--corBranca);
    font-style: italic;
}

/* Nav */
header nav.user > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--corBranca);
    font-size: var(--fontSize);
    font-style: italic;
    gap: var(--gaps);
}

header nav.user ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 75px;
}

header nav.user ul li ul li{
    display: flex;
    width: 20vw;
}

header nav.user ul li ul li button, header nav.user ul li ul li a{
    color: var(--corBranca);
    font-style: normal;
    background-color: var(--corHeader);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: calc(var(--fontSize) + 5px);
    padding: calc(var(--padding) + 5px);
    transition: all .4s ease;
}

header nav.user ul li ul li:hover button, header nav.user ul li ul li:hover a{
    background-color: var(--corPrincipal);
}
